body {
    background-color: cornsilk; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  main {
     background-color: aqua; 
  }

  p {
     color: blue; 
  }

  li {
     color: blueviolet; 
  }

  img {
    transition: transform, ease-in-out, 2s;
  }

img:hover {
    transform: scale(2,2);
    }

#listItem1 {
    color: crimson;
}

#listItem2 {
    color: darkgreen;
}

#listItem3 {
    color: darksalmon;
}

#listItem4 {
    color: hotpink;
}

table {
    border: solid 2px black;
}